{
	items = (
		{
			cell = PSGroupCell;
			label = "Endpoint";
		},
		{
			cell = PSLinkCell;
			cellClass = DigestSubtitleLinkCell;
			cellSubtitleText = "Edit openai endpoints";
			detail = DigestEndpointsController;
			isController = 1;
			label = "Endpoints";
			systemIcon = "ellipsis";
		},
		{
			cell = PSLinkCell;
			cellClass = DigestSubtitleLinkCell;
			detail = DigestEndpointsController;
			isController = 1;
			detail = DigestEndpointSettingsController;
			label = "Add Endpoint";
			systemIcon = "plus";
		},
		{
			cell = PSGroupCell;
			label = "Prompt";
		},
		{
			cell = PSEditTextCell;
			label = "Prompt";
			placeholder = "Prompt to summarize";
			key = prompt;
			defaults = "com.uncore.dig3st";
			noAutoCorrect = true; 
			PostNotification = "com.uncore.dig3st/preferences.changed";
		},
		{
			cell = PSEditTextCell;
			label = "System Prompt";
			placeholder = "System prompt";
			key = systemPrompt;
			defaults = "com.uncore.dig3st";
			noAutoCorrect = true; 
			PostNotification = "com.uncore.dig3st/preferences.changed";
		},
		{
			cell = PSGroupCell;
			label = "Misc";
		},
		{
			cell = PSButtonCell;
			cellClass = DigestButton;
			action = yt;
			label = "Watch the tutorial on YouTube";
			systemIcon = "play.rectangle";
		},
		{
			cell = PSButtonCell;
			cellClass = DigestButton;
			label = "Donate";
			action = "donate";
			systemIcon = "heart";
		},
		{
			cell = PSSwitchCell;
			cellClass = DigestSwitch;
			cellSubtitleText = "Internal sanity checks";
			cell = DigestSwitchCell;
			label = "Sanity Checks";
			key = sanityChecks;
			defaults = "com.uncore.dig3st";
			PostNotification = "com.uncore.dig3st/preferences.changed";
		},
		{
			cell = PSSwitchCell;
			cellClass = DigestSwitch;
			cellSubtitleText = "Checks api every respring";
			cell = DigestSwitchCell;
			label = "Check Api(Experimental)";
			key = apiChecks;
			defaults = "com.uncore.dig3st";
			PostNotification = "com.uncore.dig3st/preferences.changed";
		},
		{
			cell = PSEditTextCell;
			label = "Min message length";
			key = minChars;
			defaults = "com.uncore.dig3st";
			noAutoCorrect = true; 
			isNumeric = true;
			PostNotification = "com.uncore.dig3st/preferences.changed";
		},
		{
			cell = PSEditTextCell;
			label = "Timeout in seconds";
			key = timeout;
			defaults = "com.uncore.dig3st";
			noAutoCorrect = true; 
			isNumeric = true;
			PostNotification = "com.uncore.dig3st/preferences.changed";
		},
		{
			cell = PSGroupCell;
			label = "Testing & Debugging";
		},
		{
			cell = PSLinkCell;
			cellClass = DigestSubtitleLinkCell;
			cellSubtitleText = "Send a fake notification";
			detail = DigestTestingController;
			isController = 1;
			label = "Test";
			systemIcon = "wrench.and.screwdriver";
		},
		{
			cell = PSLinkCell;
			cellClass = DigestSubtitleLinkCell;
			cellSubtitleText = "Change Log level for debugging";
			detail = DigestLogLevelController;
			isController = 1;
			label = "Log Level";
			systemIcon = "exclamationmark.triangle";
		},
	);
	title = "Settings";
}