{
	items = (
		{
			cell = PSGroupCell;
			label = "Endpoint";
		},
		{
			cell = PSLinkCell;
			cellClass = DigestSubtitleLinkCell;
			cellSubtitleText = "Edit openai endpoints";
			detail = DigestEndpointsController;
			isController = 1;
			label = "Endpoints";
			systemIcon = "ellipsis";
		},
		{
			cell = PSLinkCell;
			cellClass = DigestSubtitleLinkCell;
			detail = DigestEndpointsController;
			isController = 1;
			detail = DigestEndPointSettingsController;
			label = "Add Endpoint";
			systemIcon = "plus";
		},
		{
			cell = PSGroupCell;
			label = "Prompt";
		},
		{
			cell = PSEditTextCell;
			label = "AI Prompt";
			placeholder = "Prompt to summarize";
			key = prompt;
			defaults = "com.uncore.dig3st";
			noAutoCorrect = true; 
			PostNotification = "com.uncore.dig3st/preferences.changed";
		},
		{
			cell = PSEditTextCell;
			label = "Min message length";
			cellSubtitleText = "If the notification text too short";
			key = minChars;
			defaults = "com.uncore.dig3st";
			noAutoCorrect = true; 
			isNumeric = true;
			PostNotification = "com.uncore.dig3st/preferences.changed";
		},
		{
			cell = PSGroupCell;
			label = "Misc";
		},
		{
			cell = PSButtonCell;
			cellClass = DigestButton;
			action = yt;
			label = "Watch the tutorial on YouTube";
			systemIcon = "play.rectangle";
		},
		{
			cell = PSButtonCell;
			cellClass = DigestButton;
			label = "Donate";
			action = "donate";
			systemIcon = "heart";
		},
		{
			cell = PSSwitchCell;
			cellClass = DigestSwitch;
			cellSubtitleText = "Whether to run checks";
			cell = DigestSwitchCell;
			label = "Run Checks(Experimental)";
			key = runChecks;
			defaults = "com.uncore.dig3st";
			PostNotification = "com.uncore.dig3st/preferences.changed";
		},
	);
	title = "Settings";
}